<h1>Hi, I'm <%= @my_pet.name %></h1>
<ul class="list-group">
  <li class="list-group-item">Food: <%= @my_pet.food_level %></li>
  <li class="list-group-item">Sleep: <%= @my_pet.sleep_level %></li>
  <li class="list-group-item">Activity: <%= @my_pet.activity_level %></li>
</ul>
